body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
}

.transacciones-container {
    padding: 20px;
}

h2 {
    color: #f9a825;
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container input {
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 30%;
}

.form-container button {
    background-color: rgb(242, 92, 5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: rgb(255, 107, 10);
}

.transacciones-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transacciones-table th,
.transacciones-table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

.transacciones-table th {
    background-color: #f9a825;
    color: #222;
}

.transacciones-table tr:nth-child(even) {
    background-color: #333;
}

.transacciones-table tr:nth-child(odd) {
    background-color: #444;
}

.transacciones-table button {
    background-color: rgb(242, 92, 5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.transacciones-table button:hover {
    background-color: rgb(255, 107, 10);
}

.volver-inicio {
    margin-top: 20px;
    background-color: rgb(242, 92, 5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.volver-inicio:hover {
    background-color: rgb(255, 107, 10);
}
