body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
}

.container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    height: 80px; 
}

.logo {
    display: flex;
    align-items: center;
    height: 100%; 
}

.logo img {
    width: 80px; 
    height: auto; 
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu li {
    margin-right: 30px; 
}

.menu button {
    color: #fff; 
    background-color: rgb(242, 92, 5); 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.menu button:hover {
    background-color: rgb(255, 107, 10); 
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(242, 92, 5);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-top:hover {
    background-color: rgb(255, 107, 10);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
}

.footer-logo {
    width: 60px; 
    height: auto; 
}
.account-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}

.account-table th,
.account-table td {
    border: 1px solid #fff; 
    padding: 10px;
    text-align: left;
}

.account-table th {
    background-color: #f9a825; /
}

.account-table tr:nth-child(even) {
    background-color: #333; 
}