.login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.login-card input[type="text"], 
.login-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.login-card button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-card button[type="submit"]:hover {
    background-color: #3e8e41;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(13, 13, 13);
    color: white;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}